In [25]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['A', 'B', 'C'], index=['a', 'b', 'c'])

In [26]:
df.head()
# df.head(2)
# df.tail(2)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
# df.columns
# df.index
df.index.to_list() # to_list() converts the index to a list

['a', 'b', 'c']

In [28]:
df.info() # Displays a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [29]:
df.describe() # Generates descriptive statistics of the DataFrame

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [30]:
df.nunique() # Returns the number of unique values in each column

A    3
B    3
C    3
dtype: int64

In [31]:
df['A'].unique() # Returns unique values in column 'A'

array([1, 4, 7])

In [ ]:
df.shape # Returns the shape of the DataFrame (rows, columns)
df.size # Returns the number of elements in the DataFrame

df.memory_usage() # Returns memory usage of each column
df.info(memory_usage='deep') # Provides detailed memory usage information

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 330.0 bytes