In [2]:
import pandas as pd

In [30]:
coffee = pd.read_csv('coffee.csv')

In [31]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [5]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday  \tEspresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [20]:
coffee.sample(5)  # Returns a random sample of 5 rows from the DataFrame
coffee.sample(5, random_state=1)  # Returns a random sample with a fixed seed for reproducibility

         Day Coffee Type  Units Sold
3    Tuesday       Latte          20
7   Thursday       Latte          30
6   Thursday    Espresso          40
2    Tuesday    Espresso          30
10  Saturday    Espresso          45

In [21]:
coffee.loc[0:5]  # Returns the first 5 rows of the DataFrame

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25

In [ ]:
coffee.loc[0] # Returns the first row of the DataFrame

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [23]:
coffee.describe()  # Generates descriptive statistics of the DataFrame

       Units Sold
count   14.000000
mean    32.857143
std      9.346798
min     15.000000
25%     26.250000
50%     35.000000
75%     38.750000
max     45.000000

In [25]:
coffee.loc[0:5, ["Day", "Units Sold"]]

         Day  Units Sold
0     Monday          25
1     Monday          15
2    Tuesday          30
3    Tuesday          20
4  Wednesday          35
5  Wednesday          25

In [26]:
coffee.index = coffee["Day"]  # Sets the "Day" column as the index of the DataFrame

In [29]:
coffee.loc["Monday":"Wednesday","Units Sold"]

Day
Monday       25
Monday       15
Tuesday      30
Tuesday      20
Wednesday    35
Wednesday    25
Name: Units Sold, dtype: int64

### Accessing Data With Pandas

In [33]:
coffee.loc[1, "Units Sold"] = 10 # Updates the "Units Sold" for "Tuesday" to 10

In [34]:
coffee.head()  # Displays the updated DataFrame after the modification

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          10
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [36]:
coffee.iat[0,0]

'Monday'

In [37]:
coffee.iloc[0,0]  # Accesses the first element in the DataFrame using integer-location based indexing

'Monday'

In [38]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [39]:
coffee.sort_values(by="Units Sold", ascending=False)  # Sorts the DataFrame by "Units Sold" in descending order

          Day Coffee Type  Units Sold
10   Saturday    Espresso          45
8      Friday  \tEspresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
11   Saturday       Latte          35
13     Sunday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          10

In [40]:
coffee.sort_values(["Units Sold","Coffee Type"], ascending=[0,1])

          Day Coffee Type  Units Sold
8      Friday  \tEspresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          10

In [41]:
for index, row in coffee.iterrows():
    print(index, row["Day"], row["Units Sold"])

0 Monday 25
1 Monday 10
2 Tuesday 30
3 Tuesday 20
4 Wednesday 35
5 Wednesday 25
6 Thursday 40
7 Thursday 30
8 Friday 45
9 Friday 35
10 Saturday 45
11 Saturday 35
12 Sunday 45
13 Sunday 35